

.roboto-bold {
    font-family: "Roboto", sans-serif; 
    font-size: 3.3vw;
    font-style: normal;
    font-style: bold;
}

body {
    height: 100vh; 
    overflow: hidden; 
    background-color: #0F1725; 
    background: linear-gradient(#2574CC, #0F1725);
    color: white;
}
.left-text {
    position: absolute; 
    left: 80px; 
    padding-top: 175px;
    font-size: 60px; 
}


/* Navigation Bar Rules */
nav {
    margin: 20px;
    margin-left:80px;
    margin-right:80px;
    float: right; 
}

nav ul {

    list-style: none;
}

nav ul li {
    display: inline; 
    margin-left: 20px; 
}
img{
    position: absolute; 
    left:80px;
    color: red;
    }

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-family: "Roboto", sans-serif; 
    font-weight: bold; 
    font-size: 1.3vw;
    border-radius: 18px;
    padding: 15px 20px;
    transition: background-color 0.6s; 
    background-color: transparent;
}

nav ul li a.active {
    background-color: #0F548F;
}
nav ul li a:hover {
    background-color: #0F548F;
}
nav .nav-container {
    display: absolute;
    align-items: center;
}

nav .nav-container .logo-text {
    position: absolute; 
    left:130px;
    font-size: 15px;
    font-family: "Roboto", sans-serif; 
    font-weight: bold;
    color: white  
}
/* Footer */
.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}