

.roboto-bold {
    font-family: "Roboto", sans-serif; 
    font-size: 3.3vw;
    font-style: normal;
    opacity: 0;
    transform: translateY(-20px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

}
.roboto-bold.show {
    opacity: 1;
    transform: translateY(0);
}

body {
    height: 100vh; 
    margin: 0; 
    background-color: #0F1725; 
    background: linear-gradient(#2574CC, #0F1725);
    color: white;
}
p{
    margin-left: 50px; 
}

.left-text {
    position: absolute; 
    left: 50px; 
    top: 25%;
    font-size: 60px; 
}


/* Navigation Bar Rules */
nav {
    margin: 20px;
    float: right; 
}

nav ul {

    list-style: none;
}

nav ul li {
    display: inline; 
    margin-left: 20px; 
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-family: "Roboto", sans-serif; 
    font-weight: bold; 
    font-size: 1.3vw;
    border-radius: 18px;
    padding: 15px 20px;
    transition: background-color 0.6s; 
    background-color: transparent;
}

nav ul li a.active {
    background-color: #0F548F;
}
nav ul li a:hover {
    background-color: #0F548F;
}